h1{
    color: black;
    text-align: center;
}
.main {
    display: flex;
    justify-content: center;  /* Centers children horizontally */
    align-items: center;      /* Centers children vertically */
}
