body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 100%; /* Ensure the grid also takes full width */
    align-content: start; /* Aligns items to the top of the grid */
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #cce5ff;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}
/*actuall courses things*/
.clickable {
    display: flex;  /* Ensures that this div acts as a flex container */
    justify-content: center;  /* Centers children horizontally */
    align-items: center;  /* Centers children vertically */
    height: 100%;  /* Makes sure the clickable div fills its parent div */
}

.clickable:hover {
    background-color: white;  /* Background color change on hover */
}

.clickable a {
    font-size: 1.5pc;
    text-decoration: none;
    color: #007bff;
    padding: 20px;  /* Adjust padding if necessary */
    width: 100%;  /* Ensures the anchor tag fills its parent */
    height: 100%;  /* Ensures the anchor tag fills its parent */
    display: flex;  /* Allows the use of flexbox properties */
    justify-content: center;  /* Centers text horizontally */
    align-items: center;  /* Centers text vertically */
    box-sizing: border-box;  /* Includes padding in width/height calculation */
}

.clickable a:visited, .clickable a:active, .clickable a:focus {
    text-decoration: none;  /* Ensures text isn't underlined after clicking */
    outline: none;  /* Removes the focus outline */
    color: #007bff;  /* Keeps the text color consistent */
}
