#kurslit {
    display: flex; /* Enables flexbox */
    align-items: flex-start; /* Align items to the start of the flex container */
    color: black;
}

#kurslit h1 {
    margin-right: 20px; /* Adds some space between the text and the links */
    color: black;
    font-size: 2em;
}

#file {
    display: flex;
    flex-direction: column; /* Stacks the links vertically */
    align-items: flex-start; /* Aligns links to the start (left) */
}

#file li {
    list-style: none; /* Removes bullet points from list items */
    text-decoration: underline;
}

.main li a {
    color: black;
    text-decoration: none;
    font-size: 1em; /* Adjust size as per your design needs */
}
